/* google matirial icon font */
/* @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); */

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}